/*============================
     01. BODY
============================*/
body {
  background: #ffffff;
  color: #7d7d7d;
  font-family: 'Open Sans';
  line-height: 2;
  font-size: 13px;
  position: relative;
  -webkit-font-smoothing: antialiased;
}
body .wrapper {
  z-index: 2;
  visibility: hidden;
  opacity: 0.0;
  position: relative;
}